* {
    margin: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    box-sizing: border-box;
}

#headline {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: rgb(41, 41, 85);
    margin: 0;
    width: 100%;
    padding: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:300;
}

#upload {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#upload-file {
    display: flex;
    justify-content: center;
}

input {
    margin: 20px;
    border-right: none;
    border-top: none;
    border-left: none;
    background-color: transparent;
    outline: none;
    caret-color: black;
    color: darkgray;
    font-size:large;
}

::placeholder {
    font-size:large;
     color: darkgray;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    padding: 5px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    display: inline-block;
    color: darkgray;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(41, 41, 85);
    color: white;
}

#upload-button {
    background-color: rgb(41, 41, 85);
    color: white;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.images-parent {
    display: flex;
    flex-wrap: wrap;
    border: 2px, solid, grey;
    border-radius: 5px;
    justify-content: center;
}

#images-child {
    display: flex;
    flex-direction: column;
    background-color: black;
    margin: 3px;
    width: 24%;
    max-height: 400px;
}

#images {
    display: flex;
    height: 350px;
    width: 100%;
    margin: 0;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}

#images-title {
    width: 100%;
    background-color: rgb(59, 59, 87);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#images-description {
    width: 100%;
    margin-bottom: 0;
}

.layout {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 3000;
    background-color: rgba(63, 60, 60, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.component {
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 1000px;
    position: fixed;
    background-color: black;
    z-index: 3000;
}

#x {
    position: fixed;
    right: 50px;
    top: 20px;
    font-size: 40px;
    cursor: pointer;
    color: white;
}

#popup-image {
    width: 600px;
    height: 500px;
    display: flex;
    align-self: center;
    margin-left: 40px;
    object-fit: cover;
    object-position: center;
}

#popup-image-description {
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-left: 25px;
}

#popup-image-title {
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-left: 25px;
}

#more-button-parent {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

#more-button {
    background-color: rgb(41, 41, 85);
    color: white;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

#comments-child {
    background-color: rgb(87, 85, 85);
    border-radius: 10px;
}

#commenttext {
    color: white;
}

#commentusername {
    color: white;
    background-color: rgb(54, 54, 54);
}

#submit-button {
    background-color: rgb(41, 41, 85);
    color: white;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}
#created {
    color:grey;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 276px;
}

#created_at {
    color:white;
    font-size: 12px;
}

#error{
    text-align: center;
    margin-top:5px;
}

#comment-error {
    color:rgb(245, 161, 161);
    background-color: black;
}
